{% extends 'base.html.twig' %}

{% block body %}

<form  action="{{path("app_products_create")}}" method="post">
  <label for="reference">Référence : </label>
  <input type="text" name="reference" value="">

  <label for="id">Id : </label>
  <input type="text" name="id" value="">

  <input type="submit" name="submit" value="submit">

</form>
<a href="{{path('app_products_index')}}">Retour</a> 
{% endblock %}
