<form  action="{{path("create")}}" method="post">
  <label for="reference">Référence : </label>
  <input type="text" name="reference" value="">

  <label for="id">Id : </label>
  <input type="text" name="id" value="">

  <input type="submit" name="submit" value="submit">

</form>
